body {
    font-family: sans-serif;
    background-color: rgb(26, 124, 189);
    width: 90%;
    margin: auto;
}

/*--------------------- HEADER -------------------------------- */

header {
    padding: 15px;
    color: white;
}

.logo {
    font-variant: small-caps;
}

header .logo {
    margin: 0;
}

/*--------------------- MAIN -------------------------------- */

main {
    overflow: auto;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

/* ----------------- PAINEL DE CONTROLE ----------------*/

#painel_controle {
    overflow: auto;
    float: left;
    width: 20%;
    height: 80vh;
    padding-right: 10px;
    padding-left: 10px;
    background-color: rgb(240, 239, 237);
    border-right: 1px solid rgb(212, 212, 212);
    box-sizing: border-box;
}

fieldset {
    margin-top: 10px;
    border: 1px solid rgb(212, 212, 212);
    border-radius: 10px;
    font-size: 12px;
}

.input_field {
    width: 92%;
    margin: auto;
    display: block;
    background-color: rgb(250, 250, 250);
    border: 1px solid rgb(100, 100, 100);
    border-radius: 10px;
    outline: none;
}

.input_field:focus {
    border: 1px solid rgb(26, 124, 189);
}

#textarea_itens {
    min-height: 100px;
    resize: vertical;
    padding: 10px;
}

#n_itens {
    padding: 5px 10px 5px 10px;
    text-align: right;
    font-size: 20px;
}

.radio_botao {
    font-size: 13px;
    display: block;
    padding: 3px;
}

.info {
    font-size: 11px;
    font-style: italic;
}

#btn_grupo {
    width: 70%;
    margin: 30px auto;
}

#btn_grupo .btn {
    background-color: #4cc248;
    border: none;
    width: 45%;
    height: 40px;
    color: white;
    cursor: pointer;
    outline: none;
}

#btn_grupo .btn:hover {
    background-color: #42d93d;
}

#btn_grupo .btn:active {
    background-color: #42d238;
}

#btn_grupo .btnd {
    background-color: #d92727;
    margin-top: 4px;
    border: none;
    width: 92%;
    height: 40px;
    color: white;
    cursor: pointer;
    outline: none;
    display: none;
}

#btn_grupo .btnd:hover {
    background-color: #f03737;
}

#btn_grupo .btnd:active {
    background-color: #fa0202;
}

/* ----------------- PAINEL DE RESULTADO ----------------*/

#painel_resultado {
    overflow: auto;
    float: right;
    width: 80%;
    height: 80vh;
    padding: 20px;
    background-color: rgb(250, 250, 250);
    box-sizing: border-box;
}

#painel_resultado #dicas {
    text-align: justify;
}

#painel_resultado #dicas li {
    padding-top: 10px;
}

#painel_resultado #dicas ul {
    padding-top: 15px;
    padding-bottom: 15px;
}


#painel_resultado #dicas .logo_grande {
    display: block;
    text-align: center;
    width: 50%;
    margin: 80px auto;
    font-size: 90pt;
    color: rgb(220, 220, 220);
}

/*------------- TABELA DE RESULTADOS DO SORTEIO --------------- */

table {
    width: 95%;
    margin: 30px auto;
    border-collapse: collapse;
}

td, th {
    border: 1px solid #ddd; 
    padding: 8px;
}

.col1 {
    width: 5%;
}

.col2 {
    width: 95%;
}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #4cc248;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

/*--------------------- FOOTER -------------------------------- */

footer {
    text-align: center;
    background-color: black;
    color: white;
    margin-bottom: 50px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 20px;
}

footer p {
    margin: 0;
}

#gitlab_link:link {
    color: white;
    text-decoration: none;
}

#gitlab_link:visited {
    color: white;
}

#gitlab_link:hover {
    color: yellow;
}

#gitlab_link:active {
    color: white;
}